* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body{
  background-color: #faf8f5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background:#6f4e37;
  padding: 18px 60px;
  }

  .nav-Links{
    display: flex;
    gap: 20px;
  }
  .nav-Links a{
    text-decoration: none;
    color: white;
  }
  .home{
    text-align: center;
    margin-top: 100px;
  }

  .home h1{
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .home p{
    font-size: 20px;
    margin-bottom: 30px;
  }

  button{
    padding: 15px 30px;
    border-radius: 8px;
    background: #6f4e37;
    color: white;
    border: none;
    cursor: pointer;
  }

  button:hover{
    background: #5b3f2c;
  }